body{
  margin: 0;
  padding: 0;
  max-width: 400px;
  max-height: 700px;

}

.main-container{
  background-color: black;
  width: 380px;
  height: 670px;  
  padding-top: 20px;
}
.container{  
  background-color: #BDB898;
  width: 312px;
  height: 625px;  
  padding-left: 8px;  
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;  
  border: 5px solid white;
}


.container__card--img1{
  width: 90px;
  height: 90px;
  border: 3px solid white;
  
}

.container__card--img2{
  width: 90px;
  height: 90px;
  
  
}

.item1{
  box-sizing: border-box;  
  grid-row: 2 / 2 ;  
  grid-column: 1 / 1;
}

.item2{
  box-sizing: border-box;  
  grid-row: 2 / 2 ;  
  grid-column: 2 / 2;
}

.item3{
  box-sizing: border-box;  
  grid-row: 2 / 2 ;  
  grid-column: 3 / 3;
}
.item4{
  box-sizing: border-box;  
  grid-row: 3 / 3;
  grid-column: 1 / 1;
  
}

.item5{
  box-sizing: border-box;  
  grid-row: 3 / 3;
  grid-column: 2 / 2;
}

.item6{
  box-sizing: border-box;
  grid-row: 3 / 3;
  grid-column: 3 / 3;
}

.item7{
  box-sizing: border-box;  
  grid-row: 4 / 4 ;  
  grid-column: 1 / 1;
}

.item8{
  box-sizing: border-box;  
  grid-row: 4 / 4 ;  
  grid-column: 2 / 2;
}

.item9{
  box-sizing: border-box;  
  grid-row: 4 / 4 ;  
  grid-column: 3 / 3;
}
.item10{
  box-sizing: border-box;  
  grid-row: 5 / 5;
  grid-column: 1 / 1;
  
}

.item11{
  box-sizing: border-box;  
  grid-row: 5 / 5;
  grid-column: 2 / 2;
}

.item12 {
  box-sizing: border-box;
  grid-row: 5 / 5;
  grid-column: 3 / 3;
}

.item13{
  box-sizing: border-box;
  grid-row: 6 / 6;
  grid-column: 1 / 1;
}

.item14{
  box-sizing: border-box;  
  grid-row: 6 / 6 ;  
  grid-column: 2 / 2;
}

.item15{
  box-sizing: border-box;  
  grid-row: 6 / 6 ;  
  grid-column: 3 / 3;
}

.item16{
  box-sizing: border-box;  
  grid-row: 7 / 7 ;  
  grid-column: 1 / 1;
}
.item17{
  box-sizing: border-box;  
  grid-row: 7 / 7;
  grid-column: 2 / 2;
  
}

.item18{
  box-sizing: border-box;  
  grid-row: 7 / 7;
  grid-column: 3 / 3;
}
